.card{
    position: relative;
    border: 1px solid black;
    width: 70px;
    background-color: aqua;
    z-index: 20;
    height: 90px;
    background-size: cover;
    background-position: center;
    

}

.card.strike{
    background-color: yellow;

    

}

.card.grapple{
    background-color: blue;
    
}

.card.submission{
    background-color: purple;
    
}

.selected{
    border: 5px solid #FFFEC4;
} 